html {
background-color: black;
}
body {
margin: 0px;
font-family: 'Times New Roman', sans-serif;
background-color: black;
background-size: cover;
}
h2 {
color: red;
font-weight: bold;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}
h3 {
color: white;
}
h4 {
color: white;
font-size: 20px;
}
p {
margin-top: 50px;
padding-right: 20px;
font-size: 20px;
letter-spacing: 2px;
color: red;
font-weight: 200;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}


